#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero header {
    width: 100%;
    padding: 5rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}

#hero img {
    aspect-ratio: 16/9;
    width: 100%;
    height: 60%;
    padding: 2rem;
}

#hero header h1 {
    padding-bottom: 1rem;
    font-size: 4rem;
}

#hero header article p {
    font-size: 1.2rem;
}

/* mission section */

#mission {
    margin: 0;
    border: 1px solid black;
    background-color: #1c2470;
}

#mission div {
    border: #1c2470 solid 1px;
    margin: 2rem 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#mission img {
    aspect-ratio: 16/9;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;

}

#mission header {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 1rem;
}

#mission header h2 {
    padding-bottom: 1rem;
    font-size: 3rem;
    width: 100%;
}

#mission header p {
    font-size: 1.2rem;
    width: 20ch;
}

/* vision */

#vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

#vision img {
    aspect-ratio: 16/9;
    width: 100%;
    padding: 2rem;
}

#vision header {
    width: 50%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 1rem;
    margin: 1rem;
}

#vision header h2 {
    font-size: 3rem;
}

#vision header p {
    font-size: 1.2rem;
    width: 30ch;
}

/* values */

#values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
    background-color: #1c2470;
}

#values header h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: #e6e1d6;
}

#values article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#values article div {
    height: 100%;
    width: 35ch;
    color: #e6e1d6;
    padding: 1rem;
    border-radius: 25px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

#values article div h2 {
    font-size: 1.65rem;
    padding-bottom: 1rem;
}

#values article div p {
    font-size: 1rem;
}

/* team section */

#team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin: 2rem;
}

#team section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#team header h2 {
    font-size: 3rem;
}

#team section div {
    height: 100%;
    width: 35ch;
    padding: 1rem;
    background-color: white;
    padding: 1rem;
    background: linear-gradient(#fff, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

#team article div h2 {
    font-size: 1.65rem;
    margin-bottom: 1rem;
}

#team article div p {
    font-size: 1rem;
    margin: 1rem;
}

.avatar {
    width: 50%;
    height: 50%;
    border-radius: 50% !important;
    margin-bottom: 1rem;
}

/* testimonials */

#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 3rem;
}

#testimonials header {
    width: 100%;
    text-align: center;
    gap: 1rem;
    margin: 0rem;
}

#testimonials header h2 {
    font-size: 3rem;
}

#testimonials blockquote {
    height: 45vh;
}

#testimonials blockquote p {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 1rem;
}

/* call to action */

#call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: flex-start;
    height: 70vh;
    gap: 3rem;
    margin: 2rem;
}

#call-to-action header {
    width: 100%;
    text-align: center;
    gap: 1rem;
}

#call-to-action header h2 {
    font-size: 3rem;
}

#call-to-action p {
    font-size: 1.2rem;
    width: 30ch;
    text-align: center;
}

@media (min-width: 1024px) {
    #hero {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    
    #hero header {
        width: 50%;
        padding: 8rem;
        display: flex;
    }
    
    #hero img {
        width: 50%;
    }
    
    /* mission section */
    
    #mission div {
        height: 70vh;
        display: flex;
        flex-direction: row;
    }
    
    #mission img {
        aspect-ratio: 16/9;
        width: 50%;
        padding: 2rem;
        margin-top: 0;
    }
    
    #mission header {
        margin: 5rem;
        gap: 1rem;
    }
    
    #mission header h2 {
        width: 100%;
    }
    
    #mission header p {
        width: 40ch;
    }
    
    /* vision */
    
    #vision {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #vision img {
        width: 50%;
    }
    
    #vision header {
        display: flex;
        flex-direction: column;
    }
    
    #vision header p {
        font-size: 1.2rem;
        width: 40ch;
    }
    
    /* values */
    
    #values {
        display: flex;
        padding: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        background-color: #1c2470;
    }
    
    #values article {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    /* team section */
    
    #team {
        display: flex;
        flex-direction: column;
        height: 60vh;
        gap: 3rem;
    }
    
    #team section {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    
    /* testimonials */
    
    #testimonials blockquote {
        height: 30vh;
    }
    
    /* call to action */
    
    #call-to-action p {
        font-size: 1.2rem;
        width: 40ch;
        text-align: center;
    }
}