.cart {
    background: #701C1C;
    display: none;
    padding: 2rem 2rem 0 2rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    z-index: 999;
}

.cart.show {
    display: block;
    animation: slideIn 0.5s ease-in-out forwards;
}

.cart.hide {
    animation: slideOut 1s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}


.card__button {
    align-items: center;
    background: #701C1C;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
}

.card__button ~ input:checked ~ .cart {
    height: 100%;
    display: block;
}

@media (min-width: 1024px) {
    .card__button {
        width: 42px;
        height: auto;
    }
}