.feature__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature__text h2 {
    padding-top: 3rem;
    font-size: 40px;
}

.feature__text p {
    font-size: 11px;
    width: 40ch;
    padding-bottom: 3rem;
}


.image img {
    width: 100%;
}

.image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
    pointer-events: none;
}

@media (min-width: 1024px) {
    .feature__text h2{
        font-size: 62px;
        margin-top: 8rem;
    }
    .feature__text p{
        font-size: 24px;
        margin-bottom: 5rem;
    }
    
    .image img {
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
    }
}