.filters {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}

.PB-range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #e6e1dc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.PB-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e6e1dc;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.PB-range-slider::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.16);
    transition: 0.3s ease-in-out;
}

.PB-range-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e6e1dc;
    cursor: pointer;
}

.PB-range-slider-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #e6e1dc;
    box-shadow: 0px 1px 2px 0px #e6e1dc;
}

.PB-range-slidervalue {
    font-weight: 600;
    font-family: 'Voga', serif;
    font-size: 1.2rem;
}

.filter_selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #e6e1dc;
    box-shadow: 0px 1px 2px 0px #1F1E241F;
}

.filter_selector_label {
    font-weight: 600;
    font-family: 'Voga', serif;
    font-size: 1.2rem;
}

.filter_selector_select {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    font-size: 1.2rem;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.filter_selector_select option {
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: #000000 1px solid;
}

@media (min-width: 1024px) {
    .filters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem 0 0rem;
        margin: 1.65rem 0;
    }    
}