.product__form {
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #12184a;
    color: #fff;
    border: 1px solid #12184a;
}

.product__title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #ece1dc;
}

.product__title::before {
    width: 18px;
    height: 18px;
}

.product__title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.product__title::before,
.product__title::after {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
}

.product__message {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.product__flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.product__form label {
    position: relative;
}

.product__form label .product__input {
    background-color: #1c2470;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.product__form label .product__input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.product__form label .product__input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
}

.product__form label .product__input:focus + span,
.product__form label .product__input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.product__input {
    font-size: medium;
}

.product__submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: 0.3s ease;
    background-color: #00bfff;
}

.product__submit:hover {
    background-color: #701c1c;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
