.title__product__list {
    padding: 10rem 0 2rem 3rem;
    font-size: 3rem;
}

@media (min-width: 1024px) {
    .product__catalog {
        display: flex;
        flex-direction: row;
        padding: 0 1rem 0 0rem;
        margin: 1.65rem 0;
    }

    .filters__product__list {
        width: 30%;
        padding: 0 1rem 0 0rem;
        position: sticky;
    }

    .product__list__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        width: 70%;
    }
}
