.text__container {
    padding: 5rem 0 2rem 2rem;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: black;
}

.text__container h2 {
    font-size: 40px;
}

.text__container p {
    font-size: 14px;
    margin-top: 1rem;
    width: 30ch;
}

.container__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0 3rem 0 0rem;
}

.card__container {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 25px;
    box-shadow: 5px 2px 12px 2px #e6d1dc;
    aspect-ratio: 4/3;
}

.card__container img {
    border-radius: 25px;
    aspect-ratio: 4/3;
}

.card__container .li {
    list-style: none;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.li h3 {
    font-size: 24px;
    margin: 0.65rem 0 0.65rem 0;
}

.li p{
    font-size: 16px;
}

.price {
    font-size: 32px;
    font-weight: bold;
}

.card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    padding-top: 15px;
    border-top: 1px solid #7e6d6d;
}

.container__btn {
    display: flex;
    justify-content: center;
    padding: 5rem 0 5rem 0;
    cursor: pointer;
}

.more__btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Ageo', sans-serif;
    font-size: 16px;
    border-radius: 25px;
    width: 125px;
    height: 34px;
    border: none;
    background-color: #701C1C;
    color: #e6d1dc;
    text-decoration: none;
}

.add__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

@media (min-width:1024px) {
    .text__container {
        padding: 5rem 0 5rem 4rem;
    }

    .text__container h2 {
        font-size: 64px;
    }

    .text__container p {
        font-size: 24px;
        width: 50ch;
        margin-top: 1rem;
    }

    .container__list {
        padding: 0 3rem 0 3rem;
    }

    .card__container .li {
        font-size: 16px;
    }

    .card__container .li strong {
        font-size: 16px;
    }

    .more__btn {
        width: 263px;
        height: 70px;
        font-size: 24px;
    }
}