.product__container {
    margin: 1rem;
    border: 1px black solid;
    border-radius: 25px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px black;
}

.product__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 0 1rem 2rem 1rem;
}

.product__img {
    aspect-ratio: 1/1;
    width: 350px;
    height: auto;
    padding: 1rem 0 0rem 0rem;
    border-radius: 25px;
}

.product__title {
    font-size: 1.65rem;
    margin: 0rem 0 1rem 0;
}

.info__container {
    padding: 0 1rem 0 1rem;
}

.info__container p {
    font-size: 1.25rem;
    padding-bottom: 0.65rem;
}

.info__container p:nth-child(3) {
    font-size: 1rem;
}

.info__container strong:nth-child(4) {
    font-size: 1.2rem;
    color: #1c2470;
}

.product__hr {
    width: 80%;
    margin-left: 2rem;
    border: 1px solid black;
}

.add__cart__product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: safe;
    margin-top: 1rem;
    padding: 0 2rem 2rem 2rem;
}

.add__cart__product p {
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 1024px) {
    .product__container {
        margin: 0 0rem 0rem 0rem;
    }
}