

.navbar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.navbar__logo {
    margin-top: 0.65rem;
    width: 100px;
    height: auto;
    position: relative;
    top: 10px;
    left: 30px;
}

.navbar__btns {
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    right: -70px;
    top: 20px;
}

.navbar__btns a {
    background: #701C1C;
    border-radius: 9999px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

@media (min-width: 1024px) {
    .navbar__logo {
        width: 238px;
        height: auto;
    }

    .navbar__btns {
        visibility: visible;
        display: flex;
        position: absolute;
        right: 5rem;
    }

    .navbar__btns a {
        align-items: center;
        background: #701C1C;
        border-radius: 9999px;
        cursor: pointer;
        display: flex;
        height: 42px;
        justify-content: center;
        padding: 4px;
        transition: all .3s ease;
        width: 42px;
        z-index: 9999;
    }



    .navbar__btns a:first-child {
        margin-right: 1rem;
    }

}

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    top: 320px;
}

@media (min-width:1024px) {
    #error-page h1 {
        font-size: 64px;
        padding-bottom: 1rem;
    }

    #error-page p {
        font-size: 24px;
    }
}