.zorvanz__info{
    margin: 0;
}

.zorvanz__info h2{
    margin: 5rem 0 1rem 3rem;
    font-size: 40px;
}

.zorvanz__info p{
    margin: 2rem 0 1rem 3rem;
    width: 35ch;
}

@media(min-width:1024px){
    .zorvanz__info{
        padding: 0 0 0 6rem;
    }
    .zorvanz__info h2{
        font-size: 64px;
    }
    .zorvanz__info p{
        font-size: 24px;
        width: 45ch;
    }
}