footer {
    display: flex;
    justify-content: space-between;
    background-color: #701c1c68;
    padding: 3rem;
    font-size: 14px;
}

.footer__logo img {
    width: 100px;
    height: auto;
}

.footer__info div {
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
}

@media(min-width:1024px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5rem 8rem 5rem 8rem;
        font-size: 18px;
    }

    .footer__logo img {
        width: 250px;
        height: auto;
        margin: 0 12rem 1rem 0;
    }

    .footer__info div{
        display: flex;
        flex-direction: column;
    }

    .footer__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__info div:first-child {
        margin-right: 4rem;
    }

    .footer__info div > a {
        margin-bottom: 0.65rem;
        text-decoration: none;
        color: black;
    }

}