/* :root {
} */
/* CSS reset june 2024 */
@import 'tailwindcss';

/* Importar fuentes personalizadas */
@font-face {
    font-family: 'Ageo';
    src: url('/fonts/AgeoTrial-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@view-transition {
    navigation: auto;
}

/* .n a.transitioning NavLink {
	view-transition-name: 'navigation';
	view-transition-duration: 0.5s;
	view-transition-timing-function: ease-in-out;
} */

@font-face {
    font-family: 'Vanio';
    src: url('/fonts/VanioTrial-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Voga';
    src: url('/fonts/Voga-Medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@theme {
    --color-zorvanz-blue: #1c2470;
    --color-zorvanz-beige: #e6e1dc;
    --color-zorvanz-red: #701c1c;
    --color-zorvanz-deep-blue: #12184a;
    --color-zorvanz-sky-blue: #00bfff;
    --font-voga: 'Voga', sans-serif;
    --font-ageo: 'Ageo', sans-serif;
    --font-vanio: 'Vanio', serif;
}

@layer components {
    .product__input {
        background-color: #1c2470;
        color: #fff;
        width: 100%;
        padding: 10px 5px 5px 10px;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 10px;
    }
}

/* Estilos base personalizados */
@layer base {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100dvh;
        background-color: #e6e1dc;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    p,
    li,
    strong {
        font-family: 'Vanio', serif;
        font-style: italic;
        line-height: 1.1;
        text-wrap: pretty;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Ageo', sans-serif;
        letter-spacing: -1px;
        line-height: 1.1;
        text-wrap: balance;
    }

    svg {
        font-family: 'Voga', sans-serif;
        letter-spacing: -1px;
        line-height: 1.1;
    }

    img,
    video,
    svg {
        height: auto;
        max-width: 100%;
    }

    @media (prefers-reduced-motion: reduce) {
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
            transition: none;
        }
    }
}
