/* :root {
} */
/* CSS reset june 2024 */
@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Importar fuentes personalizadas */
@font-face {
    font-family: 'Ageo';
    src: url('/fonts/AgeoTrial-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@view-transition {
    navigation: auto;
}

/* .n a.transitioning NavLink {
	view-transition-name: 'navigation';
	view-transition-duration: 0.5s;
	view-transition-timing-function: ease-in-out;
} */

@font-face {
    font-family: 'Vanio';
    src: url('/fonts/VanioTrial-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Voga';
    src: url('/fonts/Voga-Medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@theme {
    --color-zorvanz-blue: #1c2470;
    --color-zorvanz-beige: #e6e1dc;
    --color-zorvanz-red: #701c1c;
    --color-zorvanz-deep-blue: #12184a;
    --color-zorvanz-sky-blue: #00bfff;
    --font-voga: 'Voga', sans-serif;
    --font-ageo: 'Ageo', sans-serif;
    --font-vanio: 'Vanio', serif;
}

@layer components {
    .product__input {
        background-color: #1c2470;
        color: #fff;
        width: 100%;
        padding: 10px 5px 5px 10px;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 10px;
    }
	.product__form {
		display: flex;
		margin: 0 auto;
		margin-top: 150px;
		flex-direction: column;
		gap: 10px;
		max-width: 350px;
		padding: 20px;
		border-radius: 20px;
		position: relative;
		background-color: #12184a;
		color: #fff;
		border: 1px solid #12184a;
	}
	
	.product__title {
		font-size: 28px;
		font-weight: 600;
		letter-spacing: -1px;
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 30px;
		color: #ece1dc;
	}
	
	.product__title::before {
		width: 18px;
		height: 18px;
	}
	
	.product__title::after {
		width: 18px;
		height: 18px;
		animation: pulse 1s linear infinite;
	}
	
	.product__title::before,
	.product__title::after {
		position: absolute;
		content: '';
		height: 16px;
		width: 16px;
		border-radius: 50%;
		left: 0px;
		background-color: #00bfff;
	}
	
	.product__message {
		font-size: 14.5px;
		color: rgba(255, 255, 255, 0.7);
	}
	
	.product__flex {
		display: flex;
		width: 100%;
		gap: 6px;
	}
	
	.product__form label {
		position: relative;
	}
	
	.product__form label .product__input {
		background-color: #1c2470;
		color: #fff;
		width: 100%;
		padding: 20px 05px 05px 10px;
		outline: 0;
		border: 1px solid rgba(105, 105, 105, 0.397);
		border-radius: 10px;
	}
	
	.product__form label .product__input + span {
		color: rgba(255, 255, 255, 0.5);
		position: absolute;
		left: 10px;
		top: 0px;
		font-size: 0.9em;
		cursor: text;
		transition: 0.3s ease;
	}
	
	.product__form label .product__input:placeholder-shown + span {
		top: 12.5px;
		font-size: 0.9em;
	}
	
	.product__form label .product__input:focus + span,
	.product__form label .product__input:valid + span {
		color: #00bfff;
		top: 0px;
		font-size: 0.7em;
		font-weight: 600;
	}
	
	.product__input {
		font-size: medium;
	}
	
	.product__submit {
		border: none;
		outline: none;
		padding: 10px;
		border-radius: 10px;
		color: #fff;
		font-size: 16px;
		transform: 0.3s ease;
		background-color: #00bfff;
        cursor: pointer;
	}
	
	.product__submit:hover {
		background-color: #701c1c;
	}
	
	@keyframes pulse {
		from {
			transform: scale(0.9);
			opacity: 1;
		}
	
		to {
			transform: scale(1.8);
			opacity: 0;
		}
	}
	
}

/* Estilos base personalizados */
@layer base {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100dvh;
        background-color: #e6e1dc;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    p,
    li,
    strong {
        font-family: 'Voga', sans-serif;
        font-style: italic;
        line-height: 1.1;
        text-wrap: pretty;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Ageo', serif;
        letter-spacing: -1px;
        line-height: 1.1;
        text-wrap: balance;
    }

    svg {
        font-family: 'Voga', sans-serif;
        letter-spacing: -1px;
        line-height: 1.1;
    }

    img,
    video,
    svg {
        height: auto;
        max-width: 100%;
    }

    @media (prefers-reduced-motion: reduce) {
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
            transition: none;
        }
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}
